<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="x86"/>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.112.0" newVersion="1.0.112.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="AreaBrowsing" value="True"/>
		<add key="DeviceBrowsing" value="True"/>
		<add key="LookMonitoringPoints" value="False"/>
		<add key="SPCCSelection" value="false"/>
		<add key="SetupStatus" value="False"/>
		<add key="ISCKeyList:KeyContext" value="/artemis"/>
		<add key="ISCKeyList:KeyPort" value="443"/>
		<add key="ISCKeyList:KeyHost" value="https://192.168.23.16"/>
		<add key="ISCKeyList:KeyappKey" value="27229982"/>
		<add key="ISCKeyList:KeyappSecret" value="YKT5xf8Y4gv9Uqpn9MKd"/>
		<add key="ISCKeyList:1KeyName" value="获取根区域信息"/>
		<add key="ISCKeyList:1KeyAPI" value="/api/resource/v1/regions/root"/>
		<add key="ISCKeyList:2KeyName" value="分页获取区域信息"/>
		<add key="ISCKeyList:2KeyAPI" value="/api/resource/v1/regions"/>
		<add key="ISCKeyList:3KeyName" value="区域信息取监控点"/>
		<add key="ISCKeyList:3KeyAPI" value="/api/resource/v1/regions/regionIndexCode/cameras"/>
		<add key="ISCKeyList:4KeyName" value="取监控点信息"/>
		<add key="ISCKeyList:4KeyAPI" value="/api/resource/v1/camera/advance/cameraList"/>
		<add key="ISCKeyList:5KeyName" value="按用户查询事件订阅信息"/>
		<add key="ISCKeyList:5KeyAPI" value="/api/eventService/v1/eventSubscriptionView"/>
		<add key="ISCKeyList:6KeyName" value="按事件类型订阅事件"/>
		<add key="ISCKeyList:6KeyAPI" value="/api/eventService/v1/eventSubscriptionByEventTypes"/>
		<add key="ISCKeyList:7KeyName" value="按事件类型取消订阅事件"/>
		<add key="ISCKeyList:7KeyAPI" value="/api/eventService/v1/eventUnSubscriptionByEventTypes"/>
		<add key="ISCKeyList:8KeyName" value="批量查询人员"/>
		<add key="ISCKeyList:8KeyAPI" value="/api/frs/v1/face"/>
		<add key="ISCKeyList:9KeyName" value="获取监控点预览取流"/>
		<add key="ISCKeyList:9KeyAPI" value="/api/video/v1/cameras/previewURLs"/>
		<add key="ISCKeyList:10KeyName" value="获取门禁设备列表"/>
		<add key="ISCKeyList:10KeyAPI" value="/api/resource/v1/acsDoor/acsDoorList"/>
		<add key="ISCKeyList:11KeyName" value="获取消防传感器列表"/>
		<add key="ISCKeyList:11KeyAPI" value="/api/resource/v1/fireChannel/get"/>
		<add key="ISCKeyList:12KeyName" value="获取防区列表"/>
		<add key="ISCKeyList:12KeyAPI" value="/api/nvcac/v1/channel/queryDefenceChannel"/>
		<add key="ISCKeyList:13KeyName" value="获取停车库列表 "/>
		<add key="ISCKeyList:13KeyAPI" value="/api/resource/v1/park/parkList"/>
		<add key="ISCKeyList:14KeyName" value="获取车道列表 "/>
		<add key="ISCKeyList:14KeyAPI" value="/api/resource/v1/roadway/roadwayList"/>
		<add key="ISCKeyList:15KeyName" value="获取入侵报警主机列表 "/>
		<add key="ISCKeyList:15KeyAPI" value="/api/resource/v1/iasDevice/get"/>
		<add key="ISCKeyList:16KeyName" value="查询入侵报警主机通道列表 "/>
		<add key="ISCKeyList:16KeyAPI" value="/api/resource/v1/iasChannel/search"/>
		<add key="ISCKeyList:17KeyName" value="STOP"/>

		
		
		<add key="SPCCKeyList:KeyContext" value="/artemis"/>
		<add key="SPCCKeyList:KeyPort" value="443"/>
		<add key="SPCCKeyList:KeyHost" value="https://192.168.23.16"/>
		<add key="SPCCKeyList:KeyappKey" value="27229982"/>
		<add key="SPCCKeyList:KeyappSecret" value="YKT5xf8Y4gv9Uqpn9MKd"/>
		<add key="SPCCKeyList:1KeyName" value="事件订阅(按事件类型获取事件订阅信息)"/>
		<add key="SPCCKeyList:1KeyAPI" value="/api/common/v1/event/getTopicInfo"/>
		<add key="SPCCKeyList:2KeyName" value="监控点或相机列表(分页获取监控点资源)"/>
		<add key="SPCCKeyList:2KeyAPI" value="/api/resource/v1/cameras"/>
		<add key="SPCCKeyList:3KeyName" value="获取监控点预览取流URL"/>
		<add key="SPCCKeyList:3KeyAPI" value="/api/video/v1/cameras/previewURLs"/>
		<add key="SPCCKeyList:4KeyName" value="分页获取区域列表URL"/>
		<add key="SPCCKeyList:4KeyAPI" value="/api/resource/v1/regions"/>
		<add key="SPCCKeyList:5KeyName" value="获取门禁通道列表"/>
		<add key="SPCCKeyList:5KeyAPI" value="/api/nvcac/v1/channel/queryDoorChannel"/>
		<add key="SPCCKeyList:6KeyName" value="获取对讲通道列表"/>
		<add key="SPCCKeyList:6KeyAPI" value="/api/nvcac/v1/channel/queryIpisTalkChannel"/>
		<add key="SPCCKeyList:7KeyName" value="STOP"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>

     <!--//大华-->
    <add key="DaHuaKeyList:KeyIP" value="183.129.201.228"/>
    <add key="DaHuaKeyList:KeyPort" value="9000"/>
    <add key="DaHuaKeyList:KeyUserName" value="jiankong"/>
    <add key="DaHuaKeyList:KeyappPassWord" value="admin123400"/>
		<!--//冠霆-->
		<add key="guanting:Database" value="maanshan"/>
		<add key="guanting:Server" value="53.112.177.16"/>
		<add key="guanting:Port" value="5432"/>
		<add key="guanting:Uid" value="ty"/>
		<add key="guanting:Pwd" value="123456"/>


		<!--//数据库配置-->
		<add key="Database" value="ljaimap"/>
		<add key="Server" value="172.16.2.231"/>
		<add key="Port" value="5432"/>
		<add key="Uid" value="postgres"/>
		<add key="Pwd" value="tyaimap"/>
		<add key="Alarmip" value="http://192.168.0.211/api/33010801001"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>

	<connectionStrings>
		<!--PG数据库连接字符串-->
		<add name="postgre" connectionString="PORT=5432;DATABASE=test;HOST=localhost;PASSWORD=test;USER ID=postgres"/>
		<!--服务安装路径-->
		<add name="InstallationPath" connectionString=""/>
		<!--服务版本控制-->
		<add name="edition" connectionString="202005301951"/>
	</connectionStrings>
	<system.serviceModel>
		<bindings/>
		<client/>
	</system.serviceModel>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>
